# Ignore everything
/*

# Whitelist Folder info
!.gitignore
!README.md

# Except .cs files in Assets
!*/
*/*
!*/Assets/
*/Assets/*
!*/Assets/*.cs
!*/Assets/Scripts/*.cs

# Not the professor directory
cgcourse/
